<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    
   <!-- <bean id="s3" class="co.edureka.model.Student" scope="prototype"> -->
   <!-- <bean id="s3" class="co.edureka.model.Student" init-method="myInit" destroy-method="myDestroy">
       <property name="roll" value="103"/>
       <property name="name" value="Mike"/>
       <property name="age" value="22"/>
       <property name="email" value="mike@example.com"/>
       <property name="address" value="Country Homes"/>
   </bean>
   
   <bean class="co.edureka.model.PostProcessor"/> -->
   
   <!-- <bean id="fRef" class="co.edureka.model.Father">
       <property name="fname" value="John"/>
       <property name="lname" value="Watson"/>
       <property name="wealth" value="100000"/>
   </bean>
   
   <bean id="sRef" class="co.edureka.model.Son" parent="fRef">
       <property name="fname" value="Mike"/>
       <property name="vehicles" value="2"/>
   </bean> -->
   
   <!-- <bean id="aRef" class="co.edureka.model.Address">
       <property name="adrsLine" value="SunView"/>
       <property name="zipCode" value="520001"/>
   </bean>
   
   <bean id="pRef" class="co.edureka.model.Person">
       <property name="name" value="Mike"/>
       <property name="age" value="22"/>
       <constructor-arg ref="aRef"/> Constrcuto Injection
       <property name="address" ref="aRef"/> Setter Injection
       <property name="certificates"> Setter Injection
       		<list>
	       		<value>OCJP</value>
	       		<value>CCNA</value>
       			<value>AWS</value>
       		</list>
       </property>
   </bean> -->
   
   <bean id="ca" class="co.edureka.model.CA"/>
   <bean id="cb" class="co.edureka.model.CB"/>
   
   <context:annotation-config/>	
   
</beans>