<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Student</title>
</head>
<body>
	
	<br/><br/>
	<center>
	<h3>Add Student</h3>
	
	<form action="Add" method="post">
		Enter Roll<br/>
		<input type="text" name="txtRoll" placeholder="eg: 101"/>
		<br/><br/>
		Enter Name<br/>
		<input type="text" name="txtName" placeholder="eg: John Watson"/>
		<br/><br/>
		Enter Age<br/>
		<input type="text" name="txtAge" placeholder="eg: 12"/>
		<br/><br/>
		Enter Address<br/>
		<input type="text" name="txtAddress" placeholder="eg: Redwood Shores"/>
		<br/><br/>
		<input type="submit" value="Add Student"/>
	</form>
	</center>
</body>
</html>